@font-face {
  font-family: 'ds-digi';
  src: url('../font/DS-DIGI.TTF');
}

:root{
  --base: #171941;
  --primDark: #009fec;
  --primLight: #7fb1b2;
  --secondDark: #00f2c3;
  --secondLight: #dceca9;
}

body{
  background-color: var(--base) !important;
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
}

.widget{
  margin: 5% auto;
}

.clock{
  width: 20rem;
  height: 20rem;
  border: 10px solid var(--primDark);
  border-radius: 50%;
  margin: auto;
}

.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.digital{
  top: 75%;
  left: 33%;
  position: absolute;
  text-align: center;
  font-family: 'ds-digi';
  font-size: 1.6rem;
  color: var(--secondDark);
  text-shadow: 0 0 10px var(--secondDark);
  z-index: 0;
}

.axis{
  top: 50%;
  left: 45%;
  width: 20px;
  height: 20px;
  background: var(--base);
  border: solid 3px var(--primLight);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-5px);
  z-index: 2;
}

.hand{
  top: 50%;
  right: 51%;
  width: 45%;
  height: 10px;
  border-radius: 10px;
  background: var(--primLight);
  position: absolute !important;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  z-index: 1;
}

.second-hand{
  height: 3px;
  background: var(--secondLight);
  transform: translateX(-10px);
  z-index: 0;
}

.hour-hand{
  width: 30%;
}

.date, .temp{
  font-family: 'ds-digi';
  font-size: 3rem;
  text-align: center;
  margin-top: 25px;
  color: var(--secondDark);
  text-shadow: 0 0 8px var(--secondDark);
}

.temp{
  font-size: 2rem;
  margin: auto 0;
}

.icon{
  margin: auto 20px;
  color: var(--secondDark);
  text-shadow: 0 0 8px var(--secondDark);
}

.modal-content{
  background-color: var(--base) !important;
}

.modal-dialog{
  max-width: 300px !important;
}

.close {
  color: #fff !important;
  text-shadow: 0 1px 0 var(--secondDark) !important;
}
