@font-face {
  font-family: 'ds-digi';
  src: url('../font/DS-DIGI.TTF');
}

:root{
  --base: #171941;
  --primDark: #009fec;
  --primLight: #7fb1b2;
  --secondDark: #00f2c3;
  --secondLight: #dceca9;
}

body{
  background-color: var(--base) !important;
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
}

.widget{
  margin: 5% auto;
}

.clock{
  width: 20rem;
  height: 20rem;
  background: url('../img/clock.svg');
  margin: auto;
  position: relative;
}


.digital{
  top: 75%;
  left: 33%;
  position: absolute;
  text-align: center;
  font-family: 'ds-digi';
  font-size: 1.6rem;
  color: var(--secondDark);
  text-shadow: 0 0 10px var(--secondDark);
  z-index: 0;
}

.hand{
  position: absolute;
  top: 50%;
  left: 25%;
  width: 10rem;
  height: 10rem;
  padding-bottom: 20px;
  transform-origin: top;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  z-index: 1;
}

.second-hand{
  z-index: 0;
}

.hour-hand{
  height: 7rem;
}

.axis{
  top: 50%;
  left: 47%;
  width: 20px;
  height: 20px;
  background: url('../img/axis.svg');
  position: absolute;
  transform: translateY(-10px);
  z-index: 2;
}

.date, .temp{
  font-family: 'ds-digi';
  font-size: 3rem;
  text-align: center;
  margin-top: 25px;
  color: var(--secondDark);
  text-shadow: 0 0 8px var(--secondDark);
}

.temp{
  font-size: 2rem;
  margin: auto 0;
}

.icon{
  margin: auto 20px;
  color: var(--secondDark);
  text-shadow: 0 0 8px var(--secondDark);
}

.modal-content{
  background-color: var(--base) !important;
}

.modal-dialog{
  max-width: 300px !important;
}

.close {
  color: #fff !important;
  text-shadow: 0 1px 0 var(--secondDark) !important;
}
